@model IEnumerable<Categoria>

@{
    ViewData["Title"] = "Categorías";
}

<h1>Categorías</h1>

<h5>
    La categoría nos permite indicar en qué gastamos nuestro dinero,
    también, de donde provienen nuestros ingresos
</h5>

<div class="mb-3">
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>


<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model)
        {
            <tr>
                <td>@categoria.Nombre</td>
                <td>@categoria.TipoOperacionId</td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@categoria.Id"><i class="bi-pencil-fill"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@categoria.Id"><i class="bi-trash-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
